/* id 선택자는 #을 이용 */
#hello {
    /* color:rgb(123,211,22) */
    /* color:#ff0000 */
    color: blueviolet
}

#back {
    /* background-color: black; */
    background-image: url("cat.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
.backIn {
    color: blue;
}